<%- include('nav',{title: 'About' }) %>

    <div class="seg">
        <h1>About</h1>
        <p>This website is made by <b>Aarjav Jain</b> a sophomore, studing Mining Engineering at Indian Institute of
            Technology (BHU) Varanasi, for exploratory project under <b>Prof. Suprakash Gupta. </b> </p>
    </div>

    <table id="studentDetails">
        <tr>
            <th>Name:</th>
            <td>Aarjav Jain</td>
        </tr>
        <tr>
            <th>Roll No:</th>
            <td>20155001</td>
        </tr>
        <tr>
            <th>Department:</th>
            <td>Mining Engineering</td>
        </tr>
        <tr>
            <th>Topic:</th>
            <td>Building static website which shows the basic information about the mines in India</td>
        </tr>
    </table>

    </body>

    </html>