<%- include('nav',{title: 'Mine Info' }) %>

    <h1>Home Page</h1>

    <div id="marquee">
        <img src="/images/1.jpg" alt="" height="500px" id="scroll">
    </div>
    <div>
        <button id="left">&#8656;</button>
        <button id="right">&#8658;</button>
    </div>
    <div class="card">
        <h3>Contents</h3>
        <ol>
            <li><a href="#welcome">Welcome!</a></li>
            <li><a href="#details">Mine Details</a></li>
            <li><a href="#pages">Useful Pages</a></li>
        </ol>
    </div>

    <div class="seg">
        <h2 id="welcome">Welcome!</h2>
        <p>Welcome to Mine Info! Here you can get various information related to the major mines in India. Currently the
            site holds information of 23 mines in India.</p>
    </div>

    <div class="seg">
        <h2 id="details">Mine Details</h2>
        <p>The following mine details can be found about the mines in India on this website are:- </p>
    </div>

    <div id="colorCards">
        <div id="a1">Name</div>
        <div id="a3">Map</div>
        <div id="a4">Location</div>
        <div id="a5">Background on Mine</div>
        <div id="a6">Current Status</div>
        <div id="a7">Ore Mined</div>
        <div id="a8">Grade of the Ore</div>
        <div id="a9">Production Capacity</div>
        <div id="1a0">Mine Type</div>
        <div id="1a1">Balance Reserves</div>
        <div id="1a2">Owned By</div>
        <div id="1a3">Commisioned Date</div>
        <div id="1a4">No of Employes</div>
        <div id="1a5">Usage of Ore</div>
        <div id="1a6">Usage of Mineral</div>
    </div>

    <div class="seg">
        <h2 id="pages">Useful Pages</h2>
        <ul>
            <li><a href="https://www.mines.gov.in/" target="_blank">Ministry of Mines</a></li>
            <li><a href="https://ibm.gov.in/" target="_blank">Indian Bureau of Mines</a></li>
            <li><a href="https://coal.nic.in/" target="_blank">Ministry of Coil</a></li>
            <li><a href="https://www.nmdc.co.in/" target="_blank">NMDC</a></li>
        </ul>
    </div>




    <!-- <h2>How To Use?</h3>
        <p>The website can be navigated using the navbar present on the top of the page. It has 3 options Home,Mines,
        </p> -->
    <script src="js/app.js"></script>
    </body>

    </html>